body {
	background-color: #555;
	color:#ccc;

}

.impact-thing {
	background-color: #aab;
	color: #447;
}

.impact-thing-grey
{
	background-color: #aaa;
	color: #444;
}

#main-logo img {
	position: relative;
	left: -34px;
}

#main-logo span {
	color: #777;
	font-family: Verdana;
	font-size: 14pt;
	position: relative;
	top: -25px;
	text-shadow: 0.2em 0.2em 0.3em black;
}

#main-logo em {
	font-weight: bold;
	color: #88f;
}

#main-logo {
	float:left;
}

#topNavbar {
  background-color: #333;
  background-image: -moz-linear-gradient(top, #333, #222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#030303), to(#333));
  background-image: -webkit-linear-gradient(top, #030303, #333);
  background-image: -o-linear-gradient(top, #333, #222);
  background-image: linear-gradient(to bottom, #333, #222);
  background-repeat: repeat-x;
  
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);

  margin-bottom: 60px;
  border-bottom: solid 4px #334;

  height: 100px;

}

.my-test {
	border-right: solid 1px black;
	border-left: solid 1px black;
	background-color: red;
	width: 940px;
}

footer {
	
	border-top: 1px dashed;
	width: 100%;
	text-align: center;
	color: #777;
	
}

.nav {
	/*left: -10px;*/
	
	position: relative;
	top: 70px;
}

.nav li {
	float: left;
}

ul.nav a:hover {
color: #FFF;
background: inherit;
}

.nav a,
.nav a:visited {
	padding-right: 12px;
	padding-left: 12px;
	display: block;
	color: #aae;
	padding-top: 8px;
	padding-bottom: 8px;
	text-decoration: none;
	font-size: 21px;
}

.nav,
ul.nav,
.nav li {
	padding: 0;
	margin: 0;
} 

pre {
	width: 80%;
}


