body {
	background-color: #777;
	color:#ccc;

}

a {
	color: #bbb;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

.impact-thing {
	background-color: #aab;
	color: #447;
}

.impact-thing-grey
{
	background-color: #aaa;
	color: #444;
}

.impact-thing-white
{
	background-color: #eee;
	color: #444;
}

.impact-thing a {
	color: #eef;
	font-weight: 400;
}

.impact-thing a:hover {
	color: #fff;
}

#main-logo img {
	position: relative;
	left: -34px;
}

#main-logo span {
	color: #777;
	font-family: Verdana;
	font-size: 14pt;
	position: relative;
	top: -25px;
	text-shadow: 0.2em 0.2em 0.3em black;
}

h1,h2,h3,h4,h5 {
	color: #445;
}

#main-logo em {
	font-weight: bold;
	color: #88f;
}

#main-logo {
	float:left;
}

#topNavbar {
  background-color: #333;
  background-image: -moz-linear-gradient(top, #333, #030303);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#030303), to(#333));
  background-image: -webkit-linear-gradient(top, #030303, #333);
  background-image: -o-linear-gradient(top, #333, #030303);
  background-image: linear-gradient(to bottom, #333, #030303);
  background-repeat: repeat-x;
  
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff030303', GradientType=0);

  margin-bottom: 0px;
  border-bottom: solid 4px #334;

  height: 100px;

}


footer {
	
	border-top: 1px dashed;
	width: 100%;
	text-align: center;
	color: #aaa;
	
}

.nav {
	/*left: -10px;*/
	
	position: relative;
	top: 70px;
}

.nav li {
	float: left;
}

ul.nav a:hover {
color: #FFF;
background: inherit;
}

.nav a,
.nav a:visited {
	padding-right: 12px;
	padding-left: 12px;
	display: block;
	color: #aae;
	padding-top: 8px;
	padding-bottom: 8px;
	text-decoration: none;
	font-size: 21px;
}

.nav,
ul.nav,
.nav li {
	padding: 0;
	margin: 0;
} 

.right-column {
	background-color: #333;
	height: 100%;
	padding: 10px 0px 10px 10px;
	-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.right-column h3 {
	color: #ccd;
}

