body {
	background-color: #778;
	color:#ccc;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	background: url(/img/use_your_illusion.png);

}

a {
	color: #bbb;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

.impact-thing {
	background-color: #aab;
	color: #447;
}

.impact-thing-grey
{
	background-color: #ccc;
	color: #444;
}

.impact-thing-white
{
	background-color: #eee;
	color: #444;
}

.impact-thing-grey a,
.impact-thing-white a {
	color: #557;
	font-weight: 400;
}

.impact-thing-grey a:hover {
	color: #eef;
}
.impact-thing-white a:hover {
	color: #778;
	font-weight: 400;
}

.impact-thing a {
	color: #eef;
	font-weight: 400;
}

.impact-thing a:hover {
	color: #fff;
}

#main-logo img {
	position: relative;
	left: -34px;
}

#main-logo span {
	color: #777;
	/*font-family: Verdana;*/
	font-size: 14pt;
	position: relative;
	top: -25px;
	text-shadow: 0.2em 0.2em 0.3em black;
}

h1,h2,h3,h4,h5 {
	color: #445;
	font-family:'Century Gothic',futura,'URW Gothic L',Verdana,sans-serif; /*"Trebuchet MS", Helvetica, sans-serif;*/
}

.hero-unit h1 {
	font-size: 24pt;
}
.hero-unit h2 {
	font-size: 18pt;
}

.hero-unit h3 {
	font-size: 16pt;
}



#main-logo em {
	font-weight: bold;
	color: #88f;
}

#main-logo {
	float:left;
}

#topNavbar {
  background-color: #333;
  background-image: -moz-linear-gradient(top, #222229, #000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(#222229));
  background-image: -webkit-linear-gradient(top, #000, #222229);
  background-image: -o-linear-gradient(top, #222229, #000);
  background-image: linear-gradient(to bottom, #222229, #000);
  background-repeat: repeat-x;
  
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff030303', GradientType=0);

  margin-bottom: 0;
  border-bottom: solid 1px #557;


  height: 104px;
  position: fixed;
  top: 0;
  width: 100%;



}

.main-content {
	margin-top: 124px;

}

footer {
	
	border-top: 1px dashed;
	width: 100%;
	text-align: center;
	color: #aaa;
	/*position: fixed;
	bottom:0;*/
	padding-top: 20px;
	/*background-color: #333;*/
	
}

.nav {
	/*left: -10px;*/
	
	position: relative;
	top: 70px;
}

.nav li {
	float: left;
}

ul.nav a:hover {
color: #FFF;
background: inherit;
}

.nav a,
.nav a:visited {
	padding-right: 12px;
	padding-left: 12px;
	display: block;
	color: #aae;
	padding-top: 8px;
	padding-bottom: 8px;
	text-decoration: none;
	font-size: 21px;
}

.nav,
ul.nav,
.nav li {
	padding: 0;
	margin: 0;
} 

.right-column {
	background-color: #334;
	height: 100%;
	padding: 10px 0px 10px 10px;
	-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
	/*-webkit-border-bottom-left-radius: 6px;
     -moz-border-bottom-left-radius: 6px;
          border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
     -moz-border-bottom-right-radius: 6px;
          border-bottom-right-radius: 6px;*/


}

.right-column h3 {
	color: #ccd;
}

.post-content img {
	float:left;
	margin-right: 16px;
}

