<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
  </head>

  <body>

      <div class="preview">
        <img class="displayed" src="{{ ASSET_PATH }}/img/Calabi-yau_space.png"/>
        
      </div>



      <div class="footer">
        <p>&copy; SuperstringSoftware Ventures
        </p>
      </div>
    
    {% include JB/analytics %}
  </body>
</html>
