
<div class="row">
  <div class="span9">

{% for post in site.posts limit:1 %}
	<div class="hero-unit impact-thing-white">
      <div class="page-header">
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <div class="date"><span>{{ post.date | date_to_long_string }}</span></div>
  </div>
    <div  class="post-content">
    {{ post.content }}
    <br/>
    <a href="{{ post.url }}">comments</a>
  </div>
    </div>
    {% endfor %}
    <hr>


<div class="hero-unit impact-thing-grey">
{% for post in site.posts limit:9 offset:1 %}
      
      	<div class="page-header">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <div class="date"><span>{{ post.date | date_to_long_string }}</span></div>
    	</div>
    	<div  class="post-content">
        {{ post.content | strip_html | truncatewords: 55 }}
        <a href="{{ post.url }}">Read more ...</a>
        </div>
 
      
    {% endfor %}
 </div>



  </div>
  <div class="span3">

  	<div class="right-column">
  		<h3>recent posts</h3>
  	<ul>
  	{% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  	{% endfor %}
  </ul>

<h3>categories</h3>
  <ul class="category_box inline">
  {% assign categories_list = site.categories %}
  {% include JB/categories_list %}
</ul>

  	<h3>tags</h3>
  	<ul class="tag_box inline">
  {% assign tags_list = site.tags %}  
  {% include JB/tags_list %}
</ul>
  </div>
  </div>
</div>
